

nav {
    display: block;
}


a {
    color: #3f84fc;
    text-decoration: none;
    background-color: transparent;
    font-family: sans-serif;
}

a:hover {
    color: #0458eb;
    text-decoration: underline;
}


h1, .h1 {
    font-size: 2.5rem;
    font-weight: normal;
}
.dashboard {
    display: flex;
    min-height: 100vh;
}

.dashboard-nav {
    min-width: 238px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    background-color: #373193;
    transition: ease-in-out 0.5s;    
}
nav ul{
    width: 100%;
    list-style: none;
    overflow: hidden;
    padding: 0;
}

nav ul li a{
    width: 100%;
    color: rgb(58, 50, 50);
    font-size: 1.2em;
    text-decoration: none;
    display: inline-flex;
    align-items: center;

    /* transition: linear 0.2s; */
}
nav ul li  a i{
    margin: 0 10px;
    color: #515151;
    font-size: 1.2em;
    transition: linear 0.2s;
}

nav ul li  a:hover{
background-color: #e9e3e3;
color: rgb(0, 0, 0);
}
.active{
   background-color: #bbbec4;
    font-weight: bold;
}
.dashboard-nav header {
    min-height: 84px;
    padding: 8px 10px;
    display: flex;
    justify-content: center;

    align-items: center;
}

.dashboard-nav header .menu-toggle {
    display: none;
    margin-right: auto;
}

.dashboard-nav a {
    color: #515151;
}


.dashboard-nav {
    background-color: #F1F4FA;
}

.dashboard-nav a {
    color: rgb(0, 0, 0);
}



.toggle_menu{
    
    top: 150px;
    right: -120px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center ;
    background: #fff;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    transition: linear 0.2s;
}
.toggle_menu i{
 font-size: 30px;
}
.toggle_menu :hover{
    background-color: #b7cdf3;
}
.dashboard-nav-item {
    background-color: #fff;
    min-height: 56px;
    padding: 10px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    transition: ease-out 0.2s;
    font-size: larger;
}






.dashboard-nav:after {
    border-top-color: rgba(255, 255, 255, 0.72);
    color: #0458eb;

}



.nav-item-divider {
    position : absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(236, 238, 239, 0.3);
}

@media screen and (max-width:1200px){
    
    .dashboard-nav{
        min-width: 100px;
       
    }
    
   
}



