<div class='dashboard ' style="background-color: #F1F4FA;">
    
    <div class="dashboard-nav">
        <!-- <div class="toggle_menu">
            <i class="bi bi-list"></i>
        </div> -->
        <header>
            <a class="brand-logo"><img src="../assets/images/logo/logo.png" alt="Logo Error">
            </a>
        </header>
        <nav class="dashboard-nav-list">
            <ul>
                <li><a class="dashboard-nav-item nav-link" routerLink="/thongke" routerLinkActive="active"><i
                        class="bi bi-clipboard-data-fill"></i>
                    Thống kê </a></li>
                
                <li> <a class="dashboard-nav-item" routerLink="/capnhat" routerLinkActive="active"><i
                        class="bi bi-file-earmark-diff-fill"></i> Cập nhật
                </a></li>
                <li> <a class="dashboard-nav-item" routerLink="/hoadon" routerLinkActive="active"><i
                        class="bi bi-calendar2-event"></i> Hóa đơn </a>

                    </li>

                <li><a class="dashboard-nav-item" routerLink="/quanlytaikhoan" routerLinkActive="active"><i
                        class="bi bi-file-earmark-person-fill"></i> Quản lý tài khoản khách hàng </a></li>
                <li><a class="dashboard-nav-item" routerLink="/messages" routerLinkActive="active"><i
                        class="bi bi-chat-left-dots-fill"></i> Messages </a></li>
                        <li><a class="dashboard-nav-item" routerLink="/thongbao" routerLinkActive="active"><i
                        class="bi bi-bell-fill"></i> Thông báo </a></li>
                        <li> <a class="dashboard-nav-item" routerLink="/caidat" routerLinkActive="active"><i
                        class="bi bi-gear-fill"></i> Cài đặt </a></li>

              <li>  <div class="nav-item-divider">
                    <a class="dashboard-nav-item"><i class="fas fa-sign-out-alt"></i> Logout </a>
                </div></li>
            </ul>
        </nav>
    </div>

</div>
<script>
    const nav =document.querySelector('nav');
    const toggle_menu =document.querySelector('.toggle_menu');
    toggle_menu.onclic
</script>