.container {
    margin-top: 50px;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.status {
    background-color: rgb(164, 231, 208);
    color: rgb(3, 153, 138);
    font-weight: bold;
}

.status2 {
    background-color: rgb(232, 162, 205);
    color: rgb(208, 76, 133);
    font-weight: bold;
}

.status3 {
    background-color: rgb(144, 179, 239);
    color: rgb(84, 51, 191);
    font-weight: bold;
}

.btn {
    font-size: 30px;
    align-items: center;
    color: black;
    margin-bottom: 10px;
}

.btn:hover {
    color: blue;
}

.modal-dialog {
    position: absolute;
    top: 50px;
    right: 100px;
    bottom: 0;
    left: 0;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
}

.list-user:hover {
    background-color: rgba(255, 0, 0, 0.1) !important;
    cursor: pointer;
}

.left-align {
    text-align: left;
}