#icon{
    width: 30px;
    height: 30px;
}
#logo{
    margin-left: auto;
    
    
}
.font{
    font-weight: bold;
}
.login{
    display: flex;
    justify-content: center;
    
    padding: 135px;
}
.form-login{
    display: flex;
  justify-content: center;
  flex-direction: column;
  
  padding: 30px;
}
.header-icon h2{
    padding: 30px;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.google-button, .facebook-button{
background-color: #F1F4FA;
}
.login-with{
    display: flex;
    justify-content: space-around;
}
.check-reset{
    display: flex;
    justify-content: space-between;
}
.login-btn{
    width: 80%;
}
.btn-login{
    margin: 20px 0;
}
.create-a{
    text-decoration: none;
    color: rgb(4, 122, 122);
}