<div class="container-fluid" style="background-color:#F1F4FA;">
    <div class="row">
        <div class="col-lg-3 form-login" style="background-color: #fff;">
            <div class="header-icon text-center">
                <div class="icon">
                    <img src="../assets/images/ICON/icon-cute.jpg" id="icon" alt="error">
                </div>
                <h2>Login</h2>
            </div>
            <div class="login-with">
                <div class="google-button btn btn-lg"><i class="bi bi-google"></i>
                    <a href="" class="link"> Google</a>
                </div>
                <div class="facebook-button btn btn-lg"><i class="bi bi-facebook"></i>   
                    <a href="" class="link"> Facebook</a>
                </div>
            </div>
            <div class="division">
                <div class="line l"></div>
                  <span>or</span>
                <div class="line r"></div>
            </div>
            <form action="">
                <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <div class="check-reset">
                    <div class="checkbox">
                        <input type="checkbox"> Remember me
                    </div>
                    <div class="reset">
                        <a href="">Reset Password?</a>
                    </div>
                </div>
                <div class="text-center btn-login">
                    <button class="btn btn-primary btn-lg btn-block login-btn">Login</button>
                </div>
                <div class="create-acc text-center">
                    <p>Don't have account yet? <a class="create-a">New accout</a></p>
                </div>
            </form>
        </div>
        <div class="col-lg-9 logo-img text-center">
            <img src="../assets/images/logo/logo-cute.jpg" id="logo" alt="error">
        </div>
    </div>
</div>