#icon{
    width: 30px;
    height: 30px;
}
#logo{
    margin-left: auto;
    
    
}
.form-login{
    display: flex;
  justify-content: center;
  flex-direction: column;
  height: 900px;
  padding: 30px;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.google-button, .facebook-button{
background-color: #F1F4FA;
}
.login-with{
    display: flex;
    justify-content: space-around;
}
.check-reset{
    display: flex;
    justify-content: space-between;
}
.division {
    float: none;
    margin: 0 auto 18px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}
.division .line {
    border-top: 1px solid #DFDFDF;
    position: absolute;
    top: 12px;
    width: 45%;
}
.division .line.l {
    left: 0;
}
.division .line.r {
    right: 0;
}
.division span {
    color: #424242;
    font-size: 17px;
}
.login-btn{
    width: 80%;
}
.btn-login{
    margin: 20px 0;
}
.create-a{
    text-decoration: none;
    color: rgb(4, 122, 122);
}