<div class="login" [ngStyle]="{'background' : 'url(./assets/images/main_background_den.png)', 'width':'100%', 'background-size': 'cover', 'background-attachment': 'fixed'}">
    
        
        <div style=" width: 30%;">
            <header class="text-center">
                <a class="brand-logo"><img src="../assets/images/logo/logo.png" alt="Logo Error">
                </a>
            </header>
            <div class="form-login" style="background-color: #fff; padding: 30px 40px;">
                <div class="header-icon text-center">
               
                    <h2>Log in</h2>
                </div>
                
                <form action="">
                    <div class="mb-3">
                        <label for="email" class="form-label font">Email Address</label>
                        <input type="email" class="form-control" id="email" placeholder="example@gmail.com">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label font">Password</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                    <div class="check-reset">
                        <div class="checkbox">
                            <input type="checkbox"> Remember me
                        </div>
                        <div class="reset">
                            <a href="">Reset Password?</a>
                        </div>
                    </div>
                    <div class="text-center btn-login">
                        <button class="btn btn-primary btn-lg btn-block login-btn" style="background-color:#3a36db ;">Login</button>
                    </div>
                </form>
            </div>
           
        </div>
   
        
        
</div>