<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="user-list-card">
                <div class="user-card">
                    <img src="../assets/images/logo/logo.png" class="avarta" alt="">
                    <p class="username">
                        User Name
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="chat-container">
                <ng-container>
                    <div class="chat-header">
                        <img src="../assets/images/logo/logo.png" class="avarta" alt="">
                        <p class="username">
                            User Name
                        </p>
                    </div>
                    <div class="chat-body">
                        <div>
                            <p class="message-container">
                                d,m masmdklaal
                            </p>
                        </div>
                    </div>
                    <div class="chat-footer">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group mb-0">
                                    <input type="text" name="" placeholder="Nhập tin nhắn" class="form-control" id="">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary btn-sm px-3" >Gửi</button>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>