<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<h2 class="m-3">
    HÓA ĐƠN</h2>
<div class="container">
    <table class="table table-borderless">
        <tr class="text-center">
            <th><input type="checkbox"></th>
            <th>MÃ HÓA ĐƠN</th>
            <th>KHÁCH HÀNG</th>
            <th>EMAIL</th>
            <th>PHONE</th>
            <th>NGÀY ĐẶT</th>
            <th>TRẠNG THÁI</th>
            <th><i class='fa fa-trash-o'></i></th>
        </tr>
        <tr routerLink="/chitiethoadon" routerLinkActive="active" class="bg-white mt-1 text-center">
            <td><input type="checkbox"></td>
            <td>#83876364</td>
            <td><img src="../assets/images/ICON/img_avatar.png" alt="Avatar" class="avatar">Nguyễn Văn A</td>
            <td>arroragaur@gmail.com</td>
            <td>00450016789</td>
            <td>12/12/2021</td>
            <td>
                <div class="status w-100 rounded-pill p-1">ĐÃ XÁC NHẬN</div>
            </td>
            <td>
                <button class="btn btn-outline-light text-center" data-bs-toggle="modal" data-bs-target="#myModal">...</button>
                <div class="modal" id="myModal">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Modal Heading</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">
                                Modal body..
                            </div>
                        </div>
                    </div>
                </div>
            </td>

        </tr>
        <tr class="bg-white mt-1 text-center">
            <td><input type="checkbox"></td>
            <td>#83876364</td>
            <td><img src="../assets/images/ICON/img_avatar.png" alt="Avatar" class="avatar">Nguyễn Văn A</td>
            <td>arroragaur@gmail.com</td>
            <td>00450016789</td>
            <td>12/12/2021</td>
            <td>
                <div class="status2 w-100 rounded-pill p-1">ĐANG XỬ LÝ</div>
            </td>
            <td><button class="btn btn-outline-light text-center">...</button></td>
        </tr>
        <tr class="bg-white mt-1 text-center">
            <td><input type="checkbox"></td>
            <td>#83876364</td>
            <td><img src="../assets/images/ICON/img_avatar.png" alt="Avatar" class="avatar">Nguyễn Văn A</td>
            <td>arroragaur@gmail.com</td>
            <td>00450016789</td>
            <td>12/12/2021</td>
            <td>
                <div class="status3 w-100 rounded-pill p-1">HỦY</div>
            </td>
            <td><button class="btn btn-outline-light text-center">...</button></td>
        </tr>

    </table>
</div>