.ttkh {
    background-color: #F1F4FA;
    border-radius: 5%;
    padding-left: 5px;
    padding-top: 7px;
    border: none;
    height: 40px;
}

.CTDH_magiamgia{
    border: 1px solid black;
    width: 100px;
    height: 30px;
    border-radius: 5px;
 }
 .CTDH_total{
     width: 50%;
     margin: 5px auto;
 }
 .CTDH_btnLuu{
     width: 100px;
    height: 30px;
    border-radius: 5px;
    color: #3A36DB;
    background-color: #F1F4FA;
    border: none;
    font-weight: bold;
 }
 .CTDH_btnBack{
     border: none;
 }
 .font_bold{
     font-weight: bold;
 }