<div class="container">
    <div class="tour row">
        <div class="col-6">
            <img src="" alt="">
        </div>
        <div class="col-6">
            <p>Thông tin tour</p>
        </div>
    </div>
    <div class="thongtinkhachhang ">
        <div class="row">
            <div class="col-4">
                <p>Mã hóa đơn</p>
                <div class=" ttkh">
                    #876370
                </div>
            </div>
            <div class="col-4">
                <p>Ngày đặt</p>
                <div class="ttkh">
                    01/12/2021
                </div>
            </div>
            <div class="col-4">
                <p>Trạng thái đơn hàng</p>
                <select class=" ttkh">
                <option value="DangXuLy">Đang xử lý</option>
                <option value="DangXacNhan">Đã xác nhận</option>
                <option value="DaHuy">Đã hủy</option>
            </select>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p>Tên khách hàng</p>
                <div class="ttkh">
                    Nguyễn Đăng Gấm
                </div>
            </div>
            <div class="col-6">
                <p>Số điện thoại</p>
                <div class=" ttkh  ">
                    6663629
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p>Email</p>
                <div class="ttkh">
                    ndg19406c@st.uel.edu.vn
                </div>
            </div>
            <div class="col-6">
                <p>Địa chỉ</p>
                <div class=" ttkh  ">
                    20, đường số 8, phường Linh Xuân, TP.Thủ Đức
                </div>
            </div>
        </div>
    </div>
</div>